<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AnalyticsFm</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'style.css') }}"
    />
  </head>
  <body>
    <div id="container">
      <header>
        <h2 class="logo">AnalyticsFm</h2>
        <div id="area_input">
          <input
            type="text"
            id="username"
            placeholder="Usuario do LastFm"
            required
          />
          <button id="buscar">Buscar</button>
        </div>
      </header>
      <main>
        <section class="sessao">
          <div id="tocandoagora"></div>
          <div class="tops">
            <div id="artistas" class=""></div>
            <div id="musicas" class=""></div>
            <div id="albuns" class=""></div>
          </div>
        </section>
      </main>
      <footer>
        <p>feito por diversão :P</p>
      </footer>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
